---
- name: Install Docker
  apt:
    name: docker.io
    state: present
    update_cache: yes

- name: Install Docker Compose
  apt:
    name: docker-compose
    state: present
    update_cache: yes

- name: Create directories for web server
  file:
    path: "{{ frame_directory }}"
    state: directory
    mode: '0755'

- name: Create update_frame.sh script
  template:
    src: update_frame.sh.j2
    dest: "{{ update_script }}"
    mode: '0755'

- name: Create Docker Compose file from template
  template:
    src: docker-compose.yml.j2
    dest: /srv/webcam/docker-compose.yml

- name: Start Docker Compose services
  command: docker-compose up -d
  args:
    chdir: /srv/webcam
